<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-title>Ubicacion Actual</ion-title>
  <ion-title *ngIf="!currentLocation">Cargando...</ion-title>
  <div *ngIf="currentLocation" class="coords">
    <p>Latitud: {{currentLocation.latitude}}</p>
    <p>Longitud: {{currentLocation.longitude}}</p>
    <p>Actualizado: {{currentTime}}</p>
    <ion-button 
    href="https://www.google.com/maps/search/{{currentLocation.latitude}},
      {{currentLocation.longitude}}"
      target="_blank"
      color="secondary"
      >
      Ver en el mapa
  </ion-button>
  </div>
  <div>
    <input 
    name="message" id="message" [disabled]="!currentLocation" 
    [(ngModel)] = "messageField" placeholder="Escribir un mensaje..."
    >
    <ion-button [disabled]="!currentLocation" (click)="sendMessage()">Enviar</ion-button>  
  </div>
</ion-content>
